<header>
  <h1 class="page-title">All the Users!</h1>
</header>

<h3 class="user-index-header">All Users</h3>
<ul class="all-users">
  <% users.forEach(function (user) { %>
    <li><a href="#/users/<%= user.id %>"><%= user.escape("username") %></a>
  <% }); %>
</ul>

<h3 class="user-index-header">Your Curators!</h3>
<ul class="curators">
  <% curators.forEach(function (user) { %>
    <li><a href="#/users/<%= user.id %>"><%= user.escape("username") %></a>
  <% }); %>
</ul>


<h3 class="user-index-header">Users that watch you!</h3>
<ul class="watchers">
  <% watchers.forEach(function (user) { %>
    <li><a href="#/users/<%= user.id %>"><%= user.escape("username") %></a>
  <% }); %>
</ul>
