<header>
  <h1 class="page-title"><%= user.escape("username") %>'s profile</h1>
</header>

<section class="show-user">

  <section class="profile-left">
  <div class="profile-pic">
    <img src="<%= user.get('image_url') %>" alt="Profile Picture">
  </div>

  <label for="user_description" class="user-info">About <%= user.escape("username")%>:</label>
  <p class="user-description"><%= user.escape('description') %></p>
  </section>

  <section class="profile-right">

    <label class="user-label" for="user_fname">First Name:</label>
    <p class="user-info" id="user_fname" ><%= user.escape('fname') %></p>

    <label class="user-label" for="user_lname">Last Name:</label>
    <p class="user-info" id="user_lname"><%= user.escape('lname') %></p>

  <button class="follow-btn"><%= buttonText %></button>
  </section>

</section>
