<% entries.forEach(function (entry) { %>
<li class="entry-list-elem">
  <a href="#/feeds/<%= entry.escape('feed_id') %>"><%= entry.escape("feed_name") %></a>
  <a href="#" class="entry-title"><%= entry.escape("title") %></a>
  <%= TimeUtils.getTimeDiff(entry.escape("published_at")) %>
  <article class="entry closed" data-id="<%= entry.id %>"></article>
</li>
<% }); %>
