<% entries.forEach(function (entry) { %>
<li class="entry-list-elem group">
  <a href="#/feeds/<%= entry.escape('feed_id') %>"
     class="entry-feed">
    <%= entry.escape("feed_name") %>
  </a>
  <a href="#" class="entry-title" id="entry-title-<%= entry.id %>"><%= entry.escape("title") %></a>
  <time class="pub-diff"><%= TimeUtils.getTimeDiff(entry.escape("published_at"))%></time>
  <article class="entry closed" id="article-entry-<%= entry.id %>" data-id="<%= entry.id %>"></article>
</li>
<% }); %>
