<% action = category.persisted?  ? category_url(category) : categories_url  %>
<% button_txt = category.persisted? ? "Update" : "Create" %>
<% hidden = category.persisted? ? '<input type="hidden" name="_method" value="PATCH">'.html_safe : "" %>

<form action="<%= action %>" method="POST">

  <label for="category_name">Name:</label>
  <input type="text" id="category_name" name="category[name]" value="<%= category.name %>">
  <br>
  <br>

  <%= hidden %>
  <%= form_token %>

  <input type="submit" value="<%= button_txt %>">

</form>
