<!DOCTYPE html>
<html>
<head>
  <title>FeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<content>

  <% if logged_in? %>
    <nav class="sidebar">
      <a href="<%= user_url(current_user) %>"><%= current_user.username %><a>
      <br>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <%= form_token %>
        <input type="submit" value="Logout">
      </form>
      <br>
      <a href="/#/feeds/new">Add New Feed</a>
      <a href="/#">All Feeds</a>
      <a href="<%= entries_url %>">All Entries</a>
      <a href="<%= categories_url %>">Categories</a>
      <a href="<%= recent_entries_url %>"> Recently Read Entries</a>
    </nav>
  <% end %>

  <main>
    <%= yield %>
  </main>

</content>

</body>
</html>
